@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Proxima Nova";
        src: url("../public/fonts/proxima_nova_font-webfont.woff2") format('woff2'),
        url("../public/fonts/proxima_nova_font-webfont.woff") format('woff');
    }
}

@layer base {
    html {
        font-family: Proxima Nova, system-ui, sans-serif;
    }
}
